[Unit]
Description = Start node app with forever

[Service]
User = ubuntu
WorkingDirectory=/home/ubuntu/app
ExecStart=/usr/bin/forever index.js
Restart=always


[Install]
WantedBy=multi-user.target